* {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  color: #555555;
}

.most-viewed {
  background: url('../images/pattern.png');
}

.travel-guide {
  background: url('../images/parallax_home_bright.jpg') fixed;
}

.features {
  background: #ED145B;
}

.footer-link {
  text-decoration: none !important;
  color: #555555;
}

.footer-link:hover {
  color: #ED145B;
}

.footer-title {
  font-size: 16px;
  font-weight: 900;
  color: #222222;
  margin-bottom: 10px;
}

/* .text-wh{
  color: white;
} */

.red-text {
  color: #ED145B;
}


.mg-50 {
  margin-top: 50px; 
}

.pT-60{
  padding-top:60px;
  padding-bottom: 50px; 
}

.mg-20 {
  margin-top: 20px; 
}

.mb-30 {
  margin-bottom: 30px;
}

.footer-btn {
  background: #1aa79b;
  color: #fff;
  border-radius: 3px;
  text-decoration: none !important;
  padding: 10px 25px;
  transition: 0.2s ease-in-out;
  margin-top: 60px;
}

.footer-btn:hover {
    background: #ed145b;
    color: #fff;
}

.main-title h2{
  font-size: 38px;
  color: #222222;
  font-weight: 300;
}

@media(min-width:999px){
.content-text {
  font-size: 18px;
  font-weight: 300;
  padding-left: 160px;
  padding-right: 160px;
}

}

.test {
  margin-bottom: 50px;
}


/* ribbon */
.box {
  position: relative;
}

.ribbon {
  position: absolute;
  left: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#9BC90D 0%, #79A70A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; left: -21px;
}

.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #79A70A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79A70A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79A70A;
}

.wrapper {
  position: relative;
  padding-left: 0px !important;
  margin-top: 40px;
}

.card-box {
  box-sizing: border-box;
  background: #fff;
  padding: 50px;
}

.bg-color {
  background:#ededed;
}

.un-line {
  width: 120px;
  color: #000;
}

.red-line {
  color: #ED145B;
  width: 50%;
}

.circle-num {
  position: absolute;
  border-radius: 50%;
  border: 1px solid #ededed;
  width: 50px;
  line-height: 50px;
  color: #666666;
  font-size: 16px;
  font-weight: 700;
  top: -25px;
  left: 50%;
  background: #fff;
  margin-left: -25px;
}

.btn-suggest{
  background: #1aa79b;
  color: #fff;
}

.btn-tpview {
  background: #fff;
  color: #1aa79b;
  border: 2px solid #cccccc;
}

.popular {
  border-radius: 50px;
  padding: 10px 20px;
  font-size:16px; 
}
